<h2 class="existingGenres">Eksisterende Genre:</h2>
<h3 class="listsOfGenres">
  <div *ngFor="let genre of genreList">
    <ul>
      {{
        genre.genreName
      }}
    </ul>

    <button
      (click)="deleteGenre(genre)"
      class="w-45 btn btn-primary btn-lg deleteButton"
    >
      Delete
    </button>
    <button
      (click)="onEdit()"
      class="w-45 btn btn-primary btn-lg addEditButton"
    >
      Rediger
    </button>
    <div *ngIf="isEditEnable">
      <form [formGroup]="updateForm">
        <input formControlName="updateGenre" type="text" id="updateGenreID" />
        <button
          (click)="updateGenre(genre)"
          class="w-45 btn btn-primary btn-lg addEditButton"
        >
          Gem
        </button>
      </form>
    </div>
  </div>
</h3>
<form [formGroup]="genreForm">
  <input
    type="text"
    formControlName="genreName"
    class="form-control"
    id="genreName"
    placeholder="Tilføj en genre"
    value=""
    required=""
  />
  <button
    class="w-45 btn btn-primary btn-lg addGenreButton"
    type="submit"
    (click)="createGenre()"
  >
    Tilføj
  </button>
</form>
