.seatListDiv {
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
}

.seatsList {
  float: left;
  width: 70%;
}

/* .success {
  background-color: green;
}

.danger {
  background-color: red;
}
 */
