<main>
  <div class="seatsList" *ngIf="choosenMovieTime; else error">
    <div *ngFor="let seat of seatsList">
      <div
        class="seatListDiv"
        (click)="addSeatToChosen(seat)"
        [ngClass]="status ? 'success' : 'danger'"
      >
        <div *ngIf="reservedSeats.indexOf(seat) == -1" class="danger">
          {{ seat.seatNumber }} {{ seat.seatRowLetter }}
        </div>
      </div>
    </div>
  </div>
  <div class="cartArea">
    <h3>Indkøbskurv</h3>
    <div *ngFor="let seat of chosenSeats">
      <button class="btn btn-secondary" (click)="removeSeatFromChosen(seat)">
        X
      </button>
      {{ seat.seatNumber }} {{ seat.seatRowLetter }}
    </div>
    <div *ngIf="chosenSeats.length > 0">
      <button class="btn btn-success" (click)="addToCart()">
        Tilføj til indkøbskurv
      </button>
    </div>
  </div>

  <ng-template #error>
    <p>
      Undskyld! Denne side virker ikke hvis siden bliver genindlæst. Venlist
      vælg din film igen
    </p>
  </ng-template>
</main>
