.ImagePoster {
  width: 500px;
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.teaserText {
  position: relative;
  z-index: 1;
}

.teaserImage {
  display: flex;
  justify-content: center;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smallImage {
  height: 250px;
  width: auto;
}
