.ImagePoster {
  width: 500px;
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.teaserText {
  position: relative;
  z-index: 1;
}

.teaserImage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
