<main>
  <div *ngFor="let movie of movieList" class="movieRow">
    <div class="movieInfo">
      <div class="movieImage">
        <img
          src="{{ movie.movieImageURL }}"
          alt="{{ movie.movieName }}"
          class="subPicture1"
        />
      </div>
      <div class="movieText">
        <div class="movieName">
          <h2>{{ movie.movieName }}</h2>
        </div>
        <div class="movieDescription"></div>
      </div>
    </div>
    <div class="movieTimes">
      <h3>Times</h3>
      <div>
        {{ findMovieTime(movie.movieID) }}
        <div class="listedMovieTimes" *ngFor="let movieTime of timeList">
          <a routerLink="" (click)="passMovieTime(movieTime)">
            {{ movieTime.time }}
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
