<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Film</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Tilføj film</h2>
        <p>Her kan du tilføje en ny title.</p>
        <a href="/create-movie" class="btn btn-primary">
          Tilføj
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Rediger</h2>
        <p>Her kan du redigere en eksisterende film.</p>
        <a href="#" class="btn btn-primary">
          Rediger
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Slet</h2>
        <p>Her kan du slette en eksisterende film.</p>
        <a href="#" class="btn btn-primary">
          Slet
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Candyshop</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Tilføj til Candyshoppen</h2>
        <p>Her kan du tilføje et nyt candyshop produkt.</p>
        <a href="#" class="btn btn-primary">
          Tilføj
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Rediger</h2>
        <p>Her kan du redigere et candyshop produkt.</p>
        <a href="#" class="btn btn-primary">
          Rediger
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Slet</h2>
        <p>Her kan du slette et candyshop produkt.</p>
        <a href="#" class="btn btn-primary">
          Slet
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Merchandise</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Tilføj merchandise</h2>
        <p>Her kan du tilføje et</p>
        <a href="#" class="btn btn-primary">
          Primary button
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Rediger</h2>
        <p>Her kan du redigere merchandise produkter</p>
        <a href="#" class="btn btn-primary">
          Rediger
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Slet</h2>
        <p>Her kan du slette merchandise produkter.</p>
        <a href="#" class="btn btn-primary">
          Slet
        </a>
      </div>
    </div>
  </div>
</div>



