<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Administration</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Film</h2>
        <p>Her kan du tilføje, redigere eller slette en film.</p>
        <a href="/create-movie" class="btn btn-primary">
          Tilføj, rediger, slet
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Slikbutik</h2>
        <p>Her kan du tilføje, redigere eller slette i slikbutikken.</p>
        <a href="#" class="btn btn-primary">
          Tilføj, rediger, slet
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">

      </div>
      <div>
        <h2>Merchandise</h2>
        <p>Her kan du tilføje, redigere eller slette i Merchandise.</p>
        <a href="#" class="btn btn-primary">
          Tilføj, rediger, slet
        </a>
      </div>
    </div>
  </div>
</div>




