<main>
  <div class="cartItems">
    <h1>Indkøbskurv</h1>
    <div class="cartParent" *ngIf="cart.movieTimeID != 0">
      <div class="cartList">
        <div class="movieInfo w70p">
          <div class="movieImage">
            <img
              src="{{ movie.movieImageURL }}"
              alt="{{ movie.movieName }}"
              class="subPicture1"
              width="100"
            />
          </div>
          <div class="movieText">
            <div class="movieName">
              <h2>{{ movie.movieName }}</h2>
            </div>
            <div class="movieDescription"></div>
          </div>
        </div>
        <div *ngIf></div>
        <div class="seatList w25p">
          <h3>Sæder i kurv:</h3>

          <div *ngFor="let seat of cart.seats">
            <div class="seatListDiv">
              {{ seat.seatNumber }} {{ seat.seatRowLetter }}
              <button class="removeButton" (click)="removeSeat(seat)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cartArea">
        <div class="cartForm">
          <form [formGroup]="checkoutForm">
            <div>
              <label for="name">Fulde navn</label>
            </div>
            <div>
              <input
                name="name"
                type="text"
                formControlName="name"
                class="formInput"
              />
            </div>
            <div>
              <label for="email">E-Mail</label>
            </div>
            <div>
              <input
                name="email"
                type="text"
                formControlName="email"
                class="formInput"
              />
            </div>
            <div>
              <label for="gender">Køn (Check for mand)</label>
            </div>
            <div>
              <input
                name="gender"
                type="checkbox"
                formControlName="gender"
                class="formInput"
              />
            </div>
            <div>
              <label for="password">Adgangskode</label>
            </div>
            <div>
              <input
                name="password"
                type="password"
                formControlName="password"
                class="formInput"
              />
            </div>
            <div>
              <label for="vip">VIP</label>
            </div>
            <div>
              <input
                name="vip"
                type="checkbox"
                formControlName="vip"
                class="formInput"
              />
            </div>
            <div>
              <label for="terms">Terms of Service:</label>
            </div>
            <div>
              <input type="checkbox" required />
            </div>
            <div>
              <input
                type="submit"
                (click)="postOrder()"
                value="Tilføj til kurv"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
