<div class="bg-light text-white">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
</div>

<div>
  <div>
    <img
      class="ImagePoster"
      src="https://static.posters.cz/image/750/plakater/star-wars-the-rise-of-skywalker-saga-i84274.jpg"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
      ornare massa, tempor interdum libero porttitor faucibus. Quisque rhoncus
      consectetur vestibulum. Aliquam sagittis, massa in condimentum laoreet,
      purus nunc mattis dui, quis scelerisque neque elit in nibh. Praesent
      imperdiet felis sed dolor facilisis, scelerisque malesuada ipsum gravida.
      Vestibulum justo augue, luctus vitae pulvinar sed, fermentum a nulla.
    </p>
  </div>
  <div>
    <img
      class="ImagePoster"
      src="https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/0/2/026-dvd2_star_wars_poster_classic_1_web.jpg"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
      ornare massa, tempor interdum libero porttitor faucibus. Quisque rhoncus
      consectetur vestibulum. Aliquam sagittis, massa in condimentum laoreet,
      purus nunc mattis dui, quis scelerisque neque elit in nibh. Praesent
      imperdiet felis sed dolor facilisis, scelerisque malesuada ipsum gravida.
      Vestibulum justo augue, luctus vitae pulvinar sed, fermentum a nulla.
    </p>
  </div>
</div>
