<main>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light navBarTop"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="teaserImage">
        <img
          class="smallImage"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Star_wars2.svg/1200px-Star_wars2.svg.png"
        />
      </div>
      <h2 class="display-4 fw-normal">The Fifth Jedi</h2>
      <p class="lead fw-normal">Kommer snart til en biograf nær dig</p>
  </div>
</div>
<img class="subPicture1Size subPicture1Position" src="https://www.kino.dk/sites/default/files/movie-posters/spiderman3plakat.jpg">
<br>
<h2 class="Overskrift1">Spider-Man: No Way Home</h2>
<p class="SpiderManText">Superheltefilmen 'Spider-Man: No Way Home' er den tredje solofilm om Peter Parker i skikkelse af Tom Holland.<br>
  Handlingen udspiller sig således efter Spider-Man: Homecoming og Spider-Man: Far From Home.<br>
  I den forrige film blev Peter Parkers hemmelige identitet som Spider-Man afsløret.<br>
   Nu står den unge superhelt således i en helt ny situation, hvor nogle hylder ham som helt og andre som det stik modsatte.<br>
  Peter må derfor nu gøre alt, der er i hans magt for at manøvrere i både at være en helt almindelig teenager og verdens mest kendte ansigt efter afsløringen af hans alter ego.<br>
  Det er dog langt fra nemt, hvorfor han går til kollegaen Dr. Strange for at bede om hjælp. <br>
  Her går det dog kun fra slemt til værre, da en trylleformular går galt og åbner helt nye virkeligheder ind til deres verden <br> og ikke mindst lader helten stå over for ikke bare én men flere skurke.<br>
  'Spider-Man: No Way Home' er en del af Marvels omfattende superhelte-univers, hvor Tom Hollands Spider-Man<br> også har været at opleve i Captain America: Civil War, Avengers: Infinity War og Avengers: Endgame.<br>

  Zendaya spiller igen MJ, mens flere gamle kendinge fra Spider-Man-filmene dukker op, bl.a. Alfred Molina, Willem Dafoe og Jamie Foxx. </p>
  <button type="button" class="btn btn-primary btn-lg px-4 gap-3 buttonOne">Køb billetter nu >></button>

<img class="subPicture2Height subPicture2Position" src="https://static.posters.cz/image/1300/plakater/the-batman-2022-i122125.jpg">
<h2 class="Overskrift2">The Batman</h2>
<p class="BatManText">Filmen 'The Batman' er en ny historie om DC-helten af samme navn, der tidligere er blevet spillet af bl.a. Michael Keaton, Christian Bale og Ben Affleck. <br>
  I to år har Batman fungeret som Gothams beskytter, der lever i skyggerne og som langsomt rydder op i byens kriminalitet og den beskidte underverden. <br>
  Da højtstående personer imidlertid bliver slået ihjel, står Flagermusen overfor sin hidtil største sag. <br>
  En seriemorder efterlader ham nemlig kringlede gåder på gerningsstederne, der viser sig at være en del af en større plan end måske først antaget. <br>
  'The Batman' er Robert Pattinsons første optræden som Nattens Ridder.<br> Han får selskab af en række andre stjerner og kendte Batman-karakterer, bl.a. Catwoman (Zoë Kravitz), The Riddler (Paul Dano), <br> The Penguin (Collin Ferrell), Alfred (Andy Serkis), James Gordon (Jeffrey Wright) og Carmine Falcone (John Turturro).<br>
  Bag filmen står instruktør Matt Reeves (Cloverfield, Abernes Planet: Revolutionen, Abernes Planet: Opgøret),<br> der har valgt at tage en meget dyster tilgang universet med en ung Batman, der har fokus på detektivarbejdet og Bruce Waynes traumer.</p>
  <button type="button" class="btn btn-primary btn-lg px-4 gap-3 buttonTwo">Køb billetter nu >></button>

</main>
