
<h2 class="existingActors">Eksisterende skuespillere:</h2>
<h3 class="listsOfActors">

<div *ngFor="let actor of actorList">
  <ul>{{actor.actorName}}</ul>
  <button (click)="deleteActor(actor)" class="btn btn-danger deleteButton"></button>
</div>
</h3>


<form [formGroup]="actorForm">
<input type="text" formControlName="actorName" class="form-control" id="actorName" placeholder="Tilføj en skuespiller" value="" required="">
<button class="w-45 btn btn-primary btn-lg addActorButton" type="submit"(click)="createActor()">Tilføj</button>
<title>slet</title>

</form>


